@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";

	var successList = Model.Value<IEnumerable<string>>("successList");
	
}
<section class="hero">
	<div class="heroContainer">

		<div class="heroText">
			<div class="heroH1">
				<h1>
					@Model.Value("heroTitle")<br><span>@Model.Value("heroSpan")</span>@Model.Value("heroTitle2")
				</h1>
			</div>
			<p>
				@Model.Value("heroParagraph")
			</p>
			<a class="contactButton" href="/about">@Model.Value("contactButton")</a>
		</div>
		<img width="100%" src="@Model.Value("heroImage")" alt="hero girl in glasses">
	</div>
	
</section>

<section class="about">
	<div class="container">
		<h6 class="sectionSubText">
			@Model.Value("aboutSmallTitle")
		</h6>
		<h2>
			@Model.Value("aboutTitle")
		</h2>
		<h5>
			@Model.Value("ceoQuoteParagraph")
		</h5>
		<p>
			@Model.Value("aboutParagraph")
		</p>

		<img src="@Model.Value("ceoSignatureImage")" alt="ceo signature">
		<p>
			@Model.Value("ceoNameParagraph")
		</p>
		<!-- <div class="callbackForm">
			<h6>
		@Model.Value("formTitle")
			</h6>

			<editForm enctype="multipart/form-data" novalidate>

				<input type="text" />
				<label name="@Model.Value("formNameField")" />

				<input type="email" />
				<label name="@Model.Value("formEmailField") />

				<input type="tel" />
				<label name="@Model.Value("formPhoneField")  />

				<input type="submit" value="Submit" class="btn btn-primary">@Model.Value("formSubmitButton")</input>
			</editForm>
		</div> -->
	</div>
	
</section>
<section class="ourServices">
	<h6 class="sectionSubText">@Model.Value("servicesSmallTitle")</h6>
	<h1>
		@Model.Value("servicesSectionTitle", fallback: Fallback.ToAncestors)
	</h1>
	@await Html.PartialAsync("static/ourServices")
</section>
<section class="trusted">
</section>
<section class="success">
	<div class="container">
		<div class="trusted">
			<h2>
				@Model.Value("successTitle")
			</h2>
			<h5 class="sectionSubText">
				@Model.Value("successSubTitle")
			</h5>
			<p>
				@Model.Value("successParagraph")
			</p>
			<a class="btn">
				@Model.Value("successButton")
			</a>
			<img id="successBg" src="@Model.Value("successBg")" class="colored-svg" alt="successful background">
		</div>
		
		<div class="successImages">

			<img id="successImage" src="@Model.Value("successImage")" alt="successful people">
	
		</div>
		
		<div class="subSection">
			<h6 class="sectionSubText">
				@Model.Value("successSmallTitle")
			</h6>
			<h2>
				@Model.Value("successTitle2")
			</h2>
			<img id="successBg2" src="@Model.Value("successBg2")" alt="successful background">

			<div class="storyBoxes">
				<div class="storyBox">
					<span>@Model.Value("successStory1Span")</span>
					@Model.Value("successStory1")
				</div>
				<div class="storyBox">
					<span>@Model.Value("successStory2Span")</span>
					@Model.Value("successStory2")
				</div>
				<div class="storyBox">
					<span>@Model.Value("successStory3Span")</span>
					@Model.Value("successStory3")
				</div>
			</div>
		
			<div class="successImages2">
			<img src="@Model.Value("successImage2")" alt="People laughing">
			

			
			</div>
		</div>
	</div>	
			
	
</section>


