@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";

	var selection = Umbraco.Content(Guid.Parse("6b344d3a-8e6e-4683-83c4-f208ffc09d73"))
    .ChildrenOfType("projectDetailsPage")
    .Where(x => x.IsVisible());

	
}
<div class="projectsPage container">
	<div class="projectsOverview">
		<ul>
			@foreach (var item in selection)
			{
				<li>
					<img src="@item.Value("projectMainImage")" alt="project image">

					<div class="project-text">
						<h2>
							<a href="@item.Url()">@item.Name()</a>
						</h2>
						<p class="date">@item.Value("ProjectDate")</p>
						<p>
							@item.Value("ProjectPreviewParagraph")
						</p>
						<a href="@item.Url()">Read More</a>
					</div>
				</li>

			}
		</ul>
	</div>
	<aside>
		<div class="tags">
			<h1>Tags</h1>
			<a>Report</a>
			<a>Business Plans</a>
			<a>Insights</a>
			<a>Business</a>
			<a>App</a>
			<a>Project</a>
			<a>Finance</a>
			<a>Pricing</a>
		</div>
		@await Html.PartialAsync("static/canHelpEmailBox")
	</aside>

</div>

@await Html.PartialAsync("static/paginationdemo")
@await Html.PartialAsync("static/nextProjectSmilingGuy")

